$purple-100: #7e57c2;
$purple-200: #673ab7;
$purple-300: #5e35b1;
$purple-400: #512da8;

$indigo-100: #3f51b5;
$indigo-200: #3949ab;
$indigo-300: #303f9f;
$indigo-400: #283593;
$indigo-500: #1a237e;


$dark-100: #eeeeee;
$dark-200: #e0e0e0;
$dark-300: #bdbdbd;
$dark-400: #9e9e9e;
$dark-500: #757575;
$dark-600: #616161;
$dark-700: #424242;
$dark-800: #212121;
$dark-900: #101113;

$primary: $purple-200;
$secondary: $indigo-100;

$background: $dark-100;
$background-dark: $dark-600;